# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

mostImpactingFeaturesOfNewestJDKs-WeakPoint

/demos/454-fma/c/Main.o
/demos/454-fma/gohello.so
/demos/454-fma/libnative.so
/demos/454-fma/librust_math.so
/demos/454-fma/rust/Cargo.lock
/demos/454-fma/rust/target/


